#navbar { 
    display: none;
}


#navbar.open {
    display: block;
}

.menu-icon {
    color: red;
    padding: 5vh;
}
header{
  background-color: white;
  margin: 10px;
}
p{
  position: absolute;
  margin: -1pc;
  padding-left: 5%;
}
.logo{
  display: center;
  text-align: 20px;
  padding-left: 5%;
  position: relative;
  top: -80px;
  margin: 10px;
}
.image/p

section#about {
  background-color: #0b2c5f;
  color: white;

}

section#competences {
  background-color: aliceblue;
  color: rgb(106, 136, 161);
}
